body {
	font-size: 14px;
	font-weight: bold;
	font-family: PT Sans Narrow;
	line-height: 24px;
	text-transform: uppercase;
	color:#000000;
}

h1 {
	font-size: 30px;
	font-weight: inherit;
	font-family: PT Sans Narrow;
	line-height: 42px;
	color:#000000;
}

h2 {
	font-size: 24px;
	font-weight: inherit;
	font-family: PT Sans Narrow;
	line-height: 30px;
	color:#000000;
}